<h2>Welcome to Swar Speech and Hearing</h2>

<p>
    A clinic where we understand that addressing a patient’s unique listening needs is the key to helping him/her. Swar Clinic offers personalized hearing, speech and communication services, in addition to the latest hearing device technology. We are dedicated to helping all people, regardless of their age, to improve communication and vocational independence for life.
Swar Speech & Hearing is a state-of-the-art clinic established by Rishabh Kothari, a Speech & Hearing graduate from AYJNISHD, Mumbai.
</p>

<h3>Our Mission</h3>
<p>Our mission is to provide comprehensive and professional audiological care, from prevention to rehabilitation, for individuals of all ages with speech and hearing concerns. Our unparalleled standard of professional patient care is directed to the unique need of each patient, ensuring improved quality of life for each patient through better hearing and speech</p>

<h3>Unmatched Levels of Services</h3>
<p>Our convenient location and state-of-the-art equipment allow you easy access to the most advanced diagnostic testing and treatment options available today.
    Hearing and Speech assessments and treatment options are available at affordable prices.<br/> <br/>   
    You are always given personalized attention and a fair, honest, and ethical treatment.<br/> <br/>
    At Swar Speech and Hearing, you can be confident that you are receiving the best care possible. That is our promise.</p>